@charset "utf-8"; 

/* headerMain [KQLONY8Yw4] */
.headerMain { position: absolute; top: 0; left: 0; width: 100%; height: 8rem; z-index: 200; }
.headerMain::after { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: 0.3s; background: linear-gradient(rgba(var(--black-rgb), 0.5), rgba(0, 255, 0, 0)); }
.headerMain:hover::after { background: rgba(var(--black-rgb), 0.7); }
.headerMain.header-top-active { position: fixed; }
.headerMain.block-active::after { background: rgba(var(--black-rgb), 0.7); height: 32rem; }
.headerMain.block-active .header-sublist { display: block; height: auto; min-height: 24rem; }
.headerMain .header-container { display: flex; align-items: center; justify-content: space-between; position: relative; width: 100%; height: 8rem; padding: 0 8rem; z-index: 100; }
.headerMain .header-title { margin-bottom: 0; }
.headerMain .header-title a { width: 17.4rem; height: 3.7rem; }
.headerMain .header-title img { width: 100%; height: 100%; object-fit: contain; }
.headerMain .header-center { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.headerMain .header-member { display: none; }
.headerMain .header-gnblist { display: flex; }
.headerMain .header-gnbitem { position: relative; }
.headerMain .header-gnblink { position: relative; padding: 2.8rem 3rem; font-size: var(--fs-p2); font-weight: 500; text-align: center; white-space: nowrap; color: var(--text-color5); }
.headerMain .header-gnblink span::after { content: ''; position: absolute; left: 3rem; bottom: 0; height: 0.2rem; width: calc(100% - 6rem); transition: 0.3s; transform: scaleX(0); background-color: var(--white); }
.headerMain .header-gnblink.on span::after { content: ''; transform: scaleX(1); }
.headerMain .header-sublist { display: none; position: absolute; width: 100%; padding: 2.5rem 0; height: 0; }
.headerMain .header-sublink { width: 100%; padding: 0.6rem 0; font-size: var(--fs-p3); line-height: 2rem; font-weight: 500; text-align: center; color: #d4d4d8; }
.headerMain .header-sublink:hover { color: var(--text-color5); }
.headerMain .header-right { display: flex; align-items: center; }
.headerMain .header-utils { display: flex; align-items: center; }
.headerMain .header-utils .header-utils-btn { width: 3.2rem; height: 3.2rem; border: transparent; background-color: transparent; background-position: center; background-size: cover; }
.headerMain .header-utils .header-utils-btn+.header-utils-btn { margin-left: 2.4rem; }
.headerMain .header-utils .btn-moclose { display: none; }
.headerMain .header-utils .btn-momenu { display: none; }
.headerMain .header-fullmenu { position: fixed; z-index: 99999; padding: 0 2.4rem; background-color: var(--black); transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; }
.headerMain .header-fullmenu.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.headerMain .header-fullmenu.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.headerMain .header-fullmenu.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.headerMain .header-fullmenu.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.headerMain .header-fullmenu.fullmenu-active { width: 100%; height: 100vh; opacity: 1; visibility: visible; }
.headerMain .fullmenu-wrapper { position: relative; top: 50%; transform: translateY(-50%); width: 100%; max-width: 128rem; margin: 0 auto; }
.headerMain .fullmenu-head { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10rem; }
.headerMain .fullmenu-title { margin-bottom: 0; }
.headerMain .fullmenu-title a { width: 17.4rem; height: 3.7rem; }
.headerMain .fullmenu-title img { width: 100%; height: 100%; object-fit: contain; }
.headerMain .fullmenu-member { display: flex; }
.headerMain .fullmenu-member li { position: relative; }
.headerMain .fullmenu-member li a { padding: 1.2rem; font-size: var(--fs-p1); font-weight: 500; color: var(--text-color5); }
.headerMain .fullmenu-member li+li::after { content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(255, 255, 255, 0.2); }
.headerMain .fullmenu-gnblist { display: flex; justify-content: center; }
.headerMain .fullmenu-gnbitem { width: 20%; }
.headerMain .fullmenu-gnbitem+.fullmenu-gnbitem { margin-left: 4rem; }
.headerMain .fullmenu-gnblink { position: relative; width: 100%; padding-bottom: 4rem; font-size: var(--fs-h6); font-weight: 500; color: var(--text-color5); border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.headerMain .fullmenu-gnblink::after { content: ''; position: absolute; left: 0; bottom: 0; display: block; width: 0; height: 0.1rem; background-color: var(--white); transition: 0.2s; }
.headerMain .fullmenu-gnblink.on::after { width: 18rem; }
.headerMain .fullmenu-sublist { padding-top: 4rem; }
.headerMain .fullmenu-subitem+.fullmenu-subitem { padding-top: 0.8rem; }
.headerMain .fullmenu-subitem:hover .fullmenu-sublink { color: var(--text-color5); }
.headerMain .fullmenu-sublink { font-size: var(--fs-p2); font-weight: 400; color: #a2a2a2; }
.headerMain .fullmenu-close { position: fixed; right: 8rem; top: 2.4rem; width: 3.2rem; height: 3.2rem; background-color: transparent; border: none; }
.headerMain .fullmenu-close img { width: 100%; height: 100%; object-fit: contain; }
@media (max-width: 1200px) {
 .headerMain .header-container { padding: 0 2.4rem; }
 .headerMain .header-gnblink { padding: 2.8rem 2rem; }
 .headerMain .fullmenu-close { right: 2.4rem; }
}
@media (max-width: 992px) {
 .headerMain { height: 6rem; }
 .headerMain:hover::after { background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 255, 0, 0)); }
 .headerMain .header-title a { width: 12.4rem; height: 2.6rem; }
 .headerMain .header-container { height: 6rem; }
 .headerMain .header-center { height: calc(100vh - 6rem); overflow-y: auto; }
 .headerMain .header-gnblist { display: none; width: 100%; flex-direction: column; }
 .headerMain .header-gnblink { display: flex; align-items: flex-end; width: 100%; padding: 2rem 0; text-align: left; }
 .headerMain .header-gnbitem:hover .header-gnblink span { border: none; }
 .headerMain .header-sublist { display: none; position: relative; padding: 2rem 0 4rem 0; }
 .headerMain .header-sublink { text-align: left; }
 .headerMain .header-gnbitem.item-active .header-sublist { display: block; height: auto; margin: 0; }
 .headerMain .header-gnbitem.item-active .header-gnblink { border-bottom: 1px solid var(--white); }
 .headerMain .header-gnbitem.item-active .header-gnblink::after { transform: rotate(180deg); }
 .headerMain .header-subitem+.header-subitem { padding-top: 0.8rem; }
 .headerMain .header-sublink { padding: 0; color: var(--text-color4); }
 .headerMain .header-sublink:active { color: var(--text-color5); }
 .headerMain .header-utils .header-utils-btn { width: 2.8rem; height: 2.8rem; }
 .headerMain .header-utils .btn-allmenu { display: none; }
 .headerMain .header-utils .btn-momenu { display: block; }
 .headerMain.mo-active { background-color: var(--black); }
 .headerMain.mo-active .header-center { left: 0; transform: translateX(0); top: 100%; width: 100%; padding: 0 2.4rem; padding-bottom: 19rem; overflow-y: auto; background-color: #111111; }
 .headerMain.mo-active .header-title { height: 6rem; display: flex; align-items: center; }
 .headerMain.mo-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .headerMain.mo-active .header-member li { position: relative; }
 .headerMain.mo-active .header-member li+li::after { content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(112, 112, 112, 0.7); }
 .headerMain.mo-active .header-member a { padding: 0; background: none; border: none; padding-right: 1.2rem; }
 .headerMain.mo-active .header-member li+li a { padding-left: 1.2rem; padding-right: 0; }
 .headerMain.mo-active .header-gnblist { display: block; height: 100%; }
 .headerMain.mo-active .header-gnblink { align-items: center; justify-content: space-between; border-bottom: 1px solid rgba(255, 255, 255, 0.2); margin: 0; }
 .headerMain.mo-active .header-gnblink::after { content: ''; display: flex; width: 1.6rem; height: 1.6rem; background-image: url("../../resources/icons/ico_downarrow_white.svg"); background-repeat: no-repeat; background-position: center right; background-size: cover; transition: .3s; }
 .headerMain.mo-active .header-gnblink span::after { content: none; }
 .headerMain.mo-active .header-gnbitem.active .header-gnblink::after { content: ''; transform: rotate(180deg); }
 .headerMain .header-gnblink:hover span::after { height: 0.1rem; }
 .headerMain.mo-active .header-member { display: flex; font-size: var(--fs-p2); }
 .headerMain.mo-active .header-member li a { color: var(--text-color5); }
 .headerMain.mo-active .btn-moclose { display: block; }
 .headerMain.mo-active .btn-momenu, .headerMain.mo-active .btn-user { display: none; }
 .headerMain .header-fullmenu { display: none; }
}

/* introduction [SxLonY8yYK] */
.introduction .contents-container { overflow: hidden; }
.introduction .contents-swiper { position: relative; }
.introduction .swiper-wrapper { width: 100%; height: 100vh; }
.introduction .swiper-slide { position: relative; }
.introduction .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
.introduction .contents-slide-group { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; width: 100%; padding: 0 2.4rem; text-align: center; }
.introduction .textset-tit { color: var(--text-color5); }
.introduction .textset-tit+.textset-desc { margin-top: 2rem; color: var(--text-color5); }
.introduction .btnset { margin-top: 4rem; border-color: var(--white); color: var(--white); }
.introduction .btnset:hover { background-color: var(--white); border-color: var(--white); color: var(--text-color1); }
.introduction .contents-control { display: flex; align-items: center; position: absolute; left: 50%; transform: translateX(-50%); bottom: 4.5rem; z-index: 100; }
.introduction .swiper-button-prev { left: 8.2rem; width: 5.4rem; height: 5.4rem; background-color: rgba(var(--black-rgb), 0.8); border-radius: 50%; }
.introduction .swiper-button-prev:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("../../resources/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.introduction .swiper-button-prev:hover::after { opacity: 1; }
.introduction .swiper-button-next { right: 8.2rem; width: 5.4rem; height: 5.4rem; background-color: rgba(var(--black-rgb), 0.8); border-radius: 50%; }
.introduction .swiper-button-next:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("../../resources/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.introduction .swiper-button-next:hover::after { opacity: 1; }
.introduction .swiper-pagination { position: relative; left: 0; bottom: 0; }
.introduction .swiper-pagination-bullet { width: 1rem; height: 1rem; margin: 0 1.2rem 0 0 !important; background-color: rgba(var(--white-rgb), 0.3); opacity: 1; }
.introduction .swiper-pagination-bullet-active { background-color: var(--white); border: none; }
.introduction .swiper-button-play { display: none; }
.introduction .swiper-button-play,.introduction .swiper-button-pause { flex-shrink: 0; width: 2rem; height: 2rem; opacity: 0.5; cursor: pointer; }
.introduction .swiper-button-play img,.introduction .swiper-button-pause img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.introduction .swiper-button-play:hover,.introduction .swiper-button-pause:hover { opacity: 1; }
@media (max-width: 992px) {
 .introduction .swiper-wrapper { height: 68rem; }
 .introduction .contents-control { bottom: 4rem; }
 .introduction .swiper-button-next, .introduction .swiper-button-prev { display: none; }
 .introduction .swiper-pagination-bullet { width: 0.8rem; height: 0.8rem; }
}

/* introduction2 [WTLoNy8yZg] */
.introduction2 .contents-inner { padding: 8rem 2.4rem; }
.introduction2 .cardset-wrap { flex-direction: column; }
.introduction2 .cardset { justify-content: space-between; }
.introduction2 .cardset+.cardset { margin-top: 10rem; }
.introduction2 .cardset .cardset-figure { width: 50%; height: 60rem; }
.introduction2 .cardset .cardset-body { width: calc(50% - 13rem); }
.introduction2 .cardset.cardset-deco .cardset-tit+.cardset-desc::before { background-color: var(--line-color4); }
@media (max-width: 992px) {
 .introduction2 .contents-inner { padding: 5rem 2.4rem; }
 .introduction2 .cardset { flex-direction: column-reverse !important; }
 .introduction2 .cardset .cardset-figure { width: 100%; height: 30rem; }
 .introduction2 .cardset .cardset-body { width: 100%; padding: 0 0 2rem 0; }
}

/* introduction3 [aRloNy8Z06] */
.introduction3 { overflow: hidden; }
.introduction3 .contents-inner { padding: 8rem 2.4rem; }
.introduction3 .contents-container { position: relative; }
.introduction3 .imageset { width: calc(100% + 4.8rem); height: 74rem; margin-left: -2.4rem; }
.introduction3 .cardset { display: flex; flex-direction: column; justify-content: center; position: absolute; top: 0; right: -2.4rem; width: calc(50% + 4.8rem); height: 100%; padding: 13rem; background-color: rgba(36, 36, 36, 0.8); }
.introduction3 .cardset-tit { color: var(--text-color5); }
.introduction3 .cardset-desc { color: #e6e6e6; }
.introduction3 .cardset.cardset-deco .cardset-tit+.cardset-desc::before { background-color: var(--white); }
.introduction3 .btnset { max-width: 11.8rem; }
@media (max-width: 992px) {
 .introduction3 .contents-inner { padding: 5rem 2.4rem; }
 .introduction3 .imageset { width: calc(100% + 4.8rem); height: 46rem; margin-left: -2.4rem; }
 .introduction3 .cardset { position: relative; width: calc(100% + 4.8rem); right: 2.4rem; padding: 4.4rem 2.4rem; background-color: var(--line-color4); }
 .introduction3 .cardset .btnset { margin-top: 2rem; }
}

/* introduction4 [xVLONy8z0t] */
.introduction4 { overflow: hidden; }
.introduction4 .contents-inner { padding: 8rem 2.4rem; }
.introduction4 .contents-container { position: relative; }
.introduction4 .textset { margin-bottom: 7rem; text-align: center; }
.introduction4 .textset-tit+.textset-desc { margin-top: 1rem; }
.introduction4 .contents-swiper { overflow: hidden; }
.introduction4 .swiper-slide { position: relative; width: calc(100% / 4 - 3rem); margin-right: 4rem; }
.introduction4 .cardset { width: 100%; }
.introduction4 .cardset-figure { height: 23rem; }
.introduction4 .contents-control { display: flex; align-items: center; justify-content: center; position: relative; margin-top: 4rem; }
.introduction4 .swiper-button-next,.introduction4 .swiper-button-prev { top: 50%; transform: translateY(-50%); width: 5.4rem; height: 5.4rem; background-color: var(--line-color4); border-radius: 50%; }
.introduction4 .swiper-button-prev { left: auto; right: calc(100% + 6.4rem); }
.introduction4 .swiper-button-prev:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("../../resources/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.introduction4 .swiper-button-prev:hover::after,.introduction4 .swiper-button-next:hover::after { opacity: 1; }
.introduction4 .swiper-button-next { left: calc(100% + 6.4rem); }
.introduction4 .swiper-button-next:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("../../resources/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.introduction4 .swiper-pagination { position: relative; left: 0; bottom: 0; width: auto; }
.introduction4 .swiper-pagination-bullet { width: 1rem; height: 1rem; margin: 0 1.2rem 0 0 !important; background-color: rgba(36, 36, 36, 0.3); opacity: 1; }
.introduction4 .swiper-pagination-bullet-active { background-color: var(--line-color4); border: none; }
.introduction4 .contents-control .btnset { position: absolute; right: 0; }
@media (max-width: 992px) {
 .introduction4 .contents-inner { padding: 5rem 2.4rem; }
 .introduction4 .textset { margin-bottom: 4rem; }
 .introduction4 .swiper-slide { width: 100%; }
 .introduction4 .contents-control { flex-direction: column; margin-top: 0.4rem; }
 .introduction4 .contents-control .btnset { position: relative; align-self: flex-end; margin-top: 3rem; }
 .introduction4 .swiper-button-next, .introduction4 .swiper-button-prev { display: none; }
 .introduction4 .swiper-pagination-bullet { width: 0.8rem; height: 0.8rem; margin: 0 0.8rem 0 0 !important; }
}

/* introduction5 [MOlonY8z1J] */
.introduction5 { overflow: hidden; }
.introduction5 .contents-inner { padding: 8rem 2.4rem; }
.introduction5 .contents-container { position: relative; }
.introduction5 .videoset { width: calc(100% + 64rem); margin-left: -32rem; }
.introduction5 .videoset-body { max-width: 128rem; }
@media (max-width: 992px) {
 .introduction5 .contents-inner { padding: 5rem 2.4rem; }
 .introduction5 .videoset { width: calc(100% + 4.8rem); margin-left: -2.4rem; }
 .introduction5 .videoset-body { max-width: calc(100% - 4.8rem); }
}

/* introduction6 [ZhLony8Z27] */
.introduction6 { overflow: hidden; }
.introduction6 .contents-inner { padding: 8rem 2.4rem; }
.introduction6 .contents-container { position: relative; overflow: hidden; }
.introduction6 .textset { margin-bottom: 7rem; text-align: center; }
.introduction6 .textset-tit+.textset-desc { margin-top: 1rem; }
.introduction6 .swiper-slide { width: 40rem; margin-right: 4rem; }
.introduction6 .cardset-figure { height: 23rem; }
.introduction6 .contents-control { display: flex; align-items: center; justify-content: center; gap: 0.8rem; position: absolute; right: 0; bottom: 4rem; }
.introduction6 .swiper-button-next,.introduction6 .swiper-button-prev { position: relative; left: 0; right: 0; width: 3.2rem; height: 3.2rem; background-color: var(--line-color4); border-radius: 50%; }
.introduction6 .swiper-button-prev:after { content: ''; width: 2rem; height: 2rem; background-image: url("../../resources/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.introduction6 .swiper-button-prev:hover::after,.introduction6 .swiper-button-next:hover::after { opacity: 1; }
.introduction6 .swiper-button-next:after { content: ''; width: 2rem; height: 2rem; background-image: url("../../resources/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
@media (max-width: 992px) {
 .introduction6 .contents-inner { padding: 5rem 2.4rem; }
 .introduction6 .textset { margin-bottom: 7.2rem; }
 .introduction6 .textset-tit+.textset-desc { margin-top: 0.5rem; }
 .introduction6 .swiper-slide { width: 100%; }
 .introduction6 .contents-control { top: 0.5rem; left: 50%; transform: translateX(-50%); }
}

/* login [VIloWO5yJS] */
.login .contents-inner { padding: 8rem 2.4rem; }
.login .contents-container { max-width: 50rem; margin: 0 auto; }
.login .textset { text-align: center; }
.login .textset-tit { font-size: var(--fs-h1); line-height: var(--lh-h1); font-weight: 600; }
.login .textset-tit+.textset-desc { font-size: var(--fs-p1); margin-top: 1.8rem; }
.login .contents-form { margin: 6rem 0; }
.login .contents-form .inputset+.inputset { margin-top: 0.8rem; }
.login .contents-form .inputset-input { font-size: 1.4rem; }
.login .contents-form .form-control { border-width: 2px; }
.login .contents-util { display: flex; justify-content: space-between; margin-top: 2rem; }
.login .contents-util .checkset-text { font-size: var(--fs-p2); }
.login .contents-find a { position: relative; padding-right: 1.6rem; font-size: var(--fs-p2); }
.login .contents-find a+a { padding-left: 1.6rem; padding-right: 0; }
.login .contents-find a+a::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.6rem; background-color: #707070; }
.login .contents-btnset { margin-top: 4rem; }
.login .contents-btnset .btnset { width: 100%; }
.login .contents-btnset .btnset+.btnset { margin-left: 0; margin-top: 0.8rem; }
.login .contents-or { display: flex; align-items: center; width: 100%; }
.login .contents-or::before { content: ''; display: inline-block; width: 100%; height: 0.1rem; background-color: var(--line-color1); }
.login .contents-or::after { content: ''; display: inline-block; width: 100%; height: 0.1rem; background-color: var(--line-color1); }
.login .contents-or span { flex-shrink: 0; margin: 0 2rem; font-size: 1.4rem; font-weight: 500; }
.login .contents-list { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 2rem; margin-top: 2rem; }
.login .contents-figure { width: 6rem; height: 6rem; padding: 1.4rem; margin: 0 auto; border-radius: 50%; }
.login .contents-figure.ico-kakao { background-color: #fae100; }
.login .contents-figure.ico-naver { background-color: #2db400; }
.login .contents-figure.ico-apple { background-color: #111111; }
.login .contents-icon { width: 100%; height: 100%; object-fit: contain; }
.login .content-sns { display: inline-block; width: 100%; margin-top: 0.8rem; font-size: 1.4rem; line-height: 2rem; font-weight: 500; text-align: center; }
@media (max-width: 992px) {
 .login .contents-inner { padding: 5rem 2.4rem; }
 .login .textset-tit+.textset-desc { margin-top: 0.8rem; }
 .login .contents-form { margin: 4rem 0; }
 .login .contents-util { display: block; }
 .login .contents-find { margin-top: 0.8rem; text-align: right; }
 .login .contents-find a { padding-right: 0.8rem; }
 .login .contents-find a+a { padding-left: 0.8rem; }
 .login .contents-btnset { margin-top: 2rem; }
 .login .contents-list { margin-top: 1.6rem; }
 .login .contents-figure { width: 5rem; height: 5rem; padding: 1.1rem; }
}

/* signup1 [bflOX39039] */
.signup1 .contents-inner { padding: 8rem 2.4rem; }
.signup1 .contents-group:first-child { border-top: 1px solid var(--line-color4); }
.signup1 .contents-group { padding: 2rem 0; }
.signup1 .contents-top { display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem; }
.signup1 .contents-tit { font-size: var(--fs-h6); line-height: var(--lh-h6); font-weight: 600; }
.signup1 .checkset-text { font-size: var(--fs-p2); }
.signup1 .contents-terms { max-height: 20rem; padding: 1.6rem; overflow-y: auto; border-radius: 3rem; border: 2px solid var(--border-color); }
.signup1 .contents-terms strong { display: block; margin-bottom: 0.8rem; font-size: var(--fs-h6); line-height: var(--lh-h6); }
.signup1 .contents-terms span { display: block; margin-bottom: 0.8rem; font-size: var(--fs-p1); line-height: var(--lh-p1); font-weight: 500; }
.signup1 .contents-terms p { font-size: var(--fs-p2); line-height: var(--lh-p2); color: var(--text-color3); }
.signup1 .contents-btnset { margin-top: 6rem; text-align: center; }
@media (max-width: 992px) {
 .signup1 .contents-inner { padding: 5rem 2.4rem; }
 .signup1 .contents-group:first-child { padding-top: 0.8rem; }
 .signup1 .contents-top { display: block; margin-bottom: 1.6rem; }
 .signup1 .checkset-wrap { margin-top: 0.8rem; }
 .signup1 .contents-terms { max-height: 25rem; }
 .signup1 .contents-btnset { margin-top: 4rem; }
}

/* signup2 [cFLOX395dD] */
.signup2 .contents-inner { padding: 8rem 2.4rem; }
.signup2 .contents-top {width: 700px; display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem; margin: 0 auto;}
.signup2 .contents-tit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 600; }
.signup2 .contents-top span { font-size: var(--fs-p2); line-height: var(--lh-p2); }
.signup2 .contents-group {width: 700px; padding-top: 2.4rem; border-top: 1px solid var(--line-color4); margin: 0 auto;}
.signup2 .form-wrap+.form-wrap { margin-top: 1.6rem; }
.signup2 .form-wrap .form-tit { min-width: 15.3rem; }
.signup2 .form-wrap .inputset { width: 100%; border-width: 2px !important; }
.signup2 .form-wrap .form-control { border-width: 2px !important; }
.signup2 .contents-form-group { display: flex; gap: 1.2rem; width: 100%; }
.signup2 .selectset { max-width: 35rem; }
.signup2 .contents-mail { display: flex; align-items: center; gap: 0.8rem; width: 100%; margin-right: 1.2rem; }
.signup2 .checkset-wrap { margin-bottom: 2rem; }
.signup2 .checkset-wrap .checkset input:checked+.checkset-thumb { background-color: var(--line-color4); }
.signup2 .contents-address { width: 100%; }
.signup2 .contents-address .contents-form-group { margin-bottom: 1.6rem; }
.signup2 .contents-btn-group {margin-top: 100px; margin-bottom: 200px; text-align: center; }
@media (max-width: 992px) {
 .signup2 .contents-inner { padding: 5rem 2.4rem; }
 .signup2 .contents-tit { margin-bottom: 1.6rem; }
 .signup2 .form-wrap { flex-wrap: wrap; gap: 0.8rem; }
 .signup2 .form-wrap+.form-wrap { margin-top: 1rem; }
 .signup2 .contents-form-group { gap: 0.8rem; }
 .signup2 .selectset { max-width: 100%; }
 .signup2 .contents-mail { margin-right: 0; }
 .signup2 .contents-address .contents-form-group { margin-bottom: 0.8rem; }
 .signup2 .contents-btn-group { margin-top: 4rem; }
}

/* signup3 [sGloX39b12] */
.signup3 .contents-inner { padding: 8rem 2.4rem; }
.signup3 .contents-icon { display: flex; align-items: center; justify-content: center; width: 8rem; height: 8rem; margin: 0 auto; padding: 2rem; border-radius: 50%; background-color: var(--primary); }
.signup3 .contents-icon img { width: 100%; height: 100%; object-fit: contain; }
.signup3 .textset { margin-top: 4rem; text-align: center; }
.signup3 .textset-tit { font-size: var(--fs-h2); line-height: var(--lh-h2); font-weight: 500; }
.signup3 .textset-tit+.textset-desc { margin-top: 1.8rem; }
.signup3 .contents-btnset { margin-top: 8rem; text-align: center; }
@media (max-width: 992px) {
 .signup3 .contents-inner { padding: 5rem 2.4rem; }
 .signup3 .contents-icon { width: 6rem; height: 6rem; padding: 1.4rem; }
 .signup3 .textset { margin-top: 2rem; }
 .signup3 .textset-tit+.textset-desc { margin-top: 0.8rem; }
 .signup3 .contents-btnset { margin-top: 4rem; text-align: center; }
}


.tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.showTooltipButton {
    background: none;
    border: none;
    color: #222222; 
    cursor: pointer;
    text-decoration: none; 
    margin-left: 20px;
  }