
  /*
  기본 배치
  - <div class="container"> : 사이드바가 표시되는 화면
  - <div class="container collapse"> : 사이드바가 숨겨지는 화면
  */
  

  .container {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height : 1000px;
    border: 5px solid black;
    
    margin-top:100px;
    margin-bottom: 20px;
    
  }
  
  .container>.sidebar {
    background-color: #2c3e50;
  
    /* sidebar는 화면을 기준으로 배치 */
    position: fixed;
    left: 0;
    top: 200px;
    bottom: 0;
    width: 16rem;
    height: 550px;
    padding: 1rem;
  
    z-index: 9999;
  }
  
  .container>.contents {
    
    height:1000px;
    /* contents는 메인페이지(.container)를 기준으로 배치 */
    position: absolute;
    left: 15rem;
    right: 0;
    top: 0;
    padding: 1rem;
    
  }
  .container>.contents>#table{
    height:1000px;
  }
  /*
  숨김 상태의 처리
  - 사이드바는 화면 밖으로 이동시킴
  - 컨텐츠영역은 사이드바가 사라진 자리를 채움
  */
  
  
  .container.collapse>.sidebar {
    margin-left:-15rem;
  }
  
  .container.collapse>.contents {
    left:0;
  }
  
  /* 부드럽게 이동하도록 transition 처리 */
  .container > .sidebar {
    transition-property: margin-left;
    transition-duration:0.3s;
    transition-timing-function: linear;
  }
  .container > .contents {
    transition-property:left, padding-left;
    transition-duration:0.3s;
    transition-timing-function:linear;
  }
  
  /* 
  메뉴 버튼 디자인
  - 화면에 고정하고 모든 화면보다 우선 표시되도록 처리
  */
  .container > .sidebar > .toggle {
    position:fixed;
    background-color: #34495e;
    left:1rem;
    z-index:100000;
    top:16em;
    display:flex;
    justify-content: center;
    align-items: center;
  
    width:2.5rem;
    height:2.5rem;
  
    border:3px solid black;
  }
  
  /* 
  메뉴와 화면이 겹치는 현상을 해결하기 위해 스타일 추가 
  - 사이드바는 상단 여백을 부여
  - 컨텐츠영역은 좌측 여백을 숨김 상태일 경우 부여(transition 설정)
  */
  .container > .sidebar {
    padding-top: 4.5rem;
  }
  .container.collapse > .contents {
    padding-left: 4.5rem;
    
  }
  
  /*
  메뉴를 더 잘 보이도록 변경
  - span 3개를 배치하여 디자인 부여
  */
  .container > .sidebar > .toggle > span {
    position:absolute;
  
    width:80%;
    height:10%;
  
    background-color:#ecf0f1;
  }
  
  /*
  <div class="container"> 일 경우 메뉴 모양을 표시
  <div class="container collapse"> 일 경우 x 모양을 표시
  */
  .container > .sidebar > .toggle > span:nth-child(1){
    top:50%;
    left:0%;
    width:100%;
    transform:translateY(-50%) rotate(45deg);
  }
  .container > .sidebar > .toggle > span:nth-child(2){
    display:none;
  }
  .container > .sidebar > .toggle > span:nth-child(3){
    top:50%;
    left:0%;
    width:100%;
    transform:translateY(-50%) rotate(-45deg);
  }
  
  .container.collapse > .sidebar > .toggle > span:nth-child(1){
    top:15%;
    left:10%;
    width:80%;
    transform:none;
  }
  .container.collapse > .sidebar > .toggle > span:nth-child(2){
    top:50%;
    left:10%;
    transform:translateY(-50%);
    display:block;
  }
  .container.collapse > .sidebar > .toggle > span:nth-child(3){
    top:85%;
    left:10%;
    width:80%;
    transform:translateY(-100%);
  }
  
  /* 부드럽게 처리 */
  .container > .sidebar > .toggle > span {
    transition:all 0.3s linear;
  }

  
  .sidebar>#content{
    color:#ecf0f1;
    font-size: 20px;
    line-height: 20px;
  }

  .content-section {
    display: none;
  }
  .content-section.active{
    display:block;
  }
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  .sidebar li:hover {
    background-color: #d3d3d3; /* 호버 시 배경색 변경 */
  }

  .sidebar li.active {
    background-color: #3498db; /* 선택된 항목의 배경색 */
    color: #fff; /* 선택된 항목의 글자색 */
  }
 .toggle{
  cursor: pointer;
  display: block;
 }
 table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}