.main {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product {
    width: calc(24.70% - 20px);
    margin: 0 10px 50px;
    border: 1px solid #e1e2e3;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    transition: box-shadow 0.3s;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product__image {
    width: 300px; /* 원하는 너비로 설정 */
    height: 200px;
    border-bottom: 1px solid #e1e2e3;
}

.product__info {
    padding: 10px;
    margin-bottom: 5px;
}

.product__title {
    color: #212529;
    font-size: 16px;
    margin-bottom: 0px;
}

.product__description {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 0px;
}

.product__price {
    color: #9c1e1e;
    font-size: 18px;
    font-weight: bold;
}

/* 내 물건 올리기 버튼 스타일 */
.sell-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--primary);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.sell-button:hover {
    background-color: rgba(var(--primary-rgb), .8);
}

/* 메인 우측 하단 버튼 스타일 */
.fixed-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--primary);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    transition: right 0.3s;
}

.fixed-button:hover {
    background-color: rgba(var(--primary-rgb), .8);
}

/* 검색 창 스타일 */
.search-container {
    text-align: center;
    margin: 20px;
}

.search-box {
    width: 60%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: 10px;
}

.search-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}